# Uganda Consumption

## Prepare all packages

In [1]:
# load packages
!pip install -r requirements.txt
import numpy as np
import pandas as pd
from eep153_tools.sheets import read_sheets

Collecting CFEDemands>=0.4.1
  Using cached CFEDemands-0.5.4-py2.py3-none-any.whl (47 kB)
Collecting ConsumerDemands
  Using cached ConsumerDemands-0.4.1.dev0-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: matplotlib>=3.3.4 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 10)) (3.5.3)
Requirement already satisfied: numpy>=1.21.5 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 14)) (1.21.6)
Requirement already satisfied: pandas>=1.3.5 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 20)) (1.3.5)
Requirement already satisfied: plotly>=5.1.0 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 23)) (5.2.1)
Collecting eep153_tools>=0.11
  Using cached eep153_tools-0.11-py2.py3-none-any.whl (4.4 kB)
Collecting python-gnupg
  Using cached python_gnupg-0.5.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: statsmodels>=0.13.2 in /opt/conda/lib/python3.9/site-packages (from CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.13.5)
Collecting dvc>=2.18.1
  Using cached dvc-2.55.0-py3-none-any.whl (419 kB)
Collecting ray>=2.0.0
  Using cached ray-2.3.1-cp39-cp39-manylinux2014_x86_64.whl (58.6 MB)
Collecting pandas>=1.3.5
  Downloading pandas-2.0.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 41.5 MB/s eta 0:00:0000:010:01
Requirement already satisfied: scipy>=1.7.3 in /opt/conda/lib/python3.9/site-packages (from CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.10.1)
Requirement already satisfied: pytest>=7.1.1 in /opt/conda/lib/python3.9/site-packages (from CFEDemands>=0.4.1->-r requirements.txt (line 5)) (7.2.2)
Collecting joblib>=1.1.0
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Collecting xarray>=0.20.1
  Using cached xarray-2023.4.2-py3-none-any.whl (979 kB)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.4->-r requirements.txt (line 10)) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.4->-r requirements.txt (line 10)) (4.39.3)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.4->-r requirements.txt (line 10)) (9.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.4->-r requirements.txt (line 10)) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.4->-r requirements.txt (line 10)) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.4->-r requirements.txt (line 10)) (2.8.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.4->-r requirements.txt (line 10)) (1.4.4)
Collecting python-dateutil>=2.7
  Using cached python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.3.5->-r requirements.txt (line 20)) (2021.1)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from plotly>=5.1.0->-r requirements.txt (line 23)) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.9/site-packages (from plotly>=5.1.0->-r requirements.txt (line 23)) (8.2.2)
Collecting configobj>=5.0.6
  Using cached configobj-5.0.8-py2.py3-none-any.whl (36 kB)
Collecting pydot>=1.2.4
  Using cached pydot-1.4.2-py2.py3-none-any.whl (21 kB)
Collecting shortuuid>=0.5
  Using cached shortuuid-1.0.11-py3-none-any.whl (10 kB)
Collecting hydra-core>=1.1
  Using cached hydra_core-1.3.2-py3-none-any.whl (154 kB)
Requirement already satisfied: colorama>=0.3.9 in /opt/conda/lib/python3.9/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.4.4)
Collecting flatten-dict<1,>=0.4.1
  Using cached flatten_dict-0.4.2-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: tabulate>=0.8.7 in /opt/conda/lib/python3.9/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.9.0)
Collecting flufl.lock>=5
  Using cached flufl.lock-7.1.1-py3-none-any.whl (11 kB)
Collecting zc.lockfile>=1.2.1
  Using cached zc.lockfile-3.0.post1-py3-none-any.whl (9.8 kB)
Collecting tomlkit>=0.11.1
  Using cached tomlkit-0.11.7-py3-none-any.whl (35 kB)
Requirement already satisfied: psutil>=5.8 in /opt/conda/lib/python3.9/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (5.9.4)
Collecting tqdm<5,>=4.63.1
  Using cached tqdm-4.65.0-py3-none-any.whl (77 kB)
Collecting shtab<2,>=1.3.4
  Using cached shtab-1.6.1-py3-none-any.whl (13 kB)
Collecting scmrepo<2,>=1.0.0
  Using cached scmrepo-1.0.2-py3-none-any.whl (54 kB)
Collecting rich>=12
  Using cached rich-13.3.4-py3-none-any.whl (238 kB)
Collecting voluptuous>=0.11.7
  Using cached voluptuous-0.13.1-py3-none-any.whl (29 kB)
Collecting pathspec>=0.10.3
  Using cached pathspec-0.11.1-py3-none-any.whl (29 kB)
Collecting dvc-task<1,>=0.2.0
  Using cached dvc_task-0.2.0-py3-none-any.whl (23 kB)
Collecting dvc-http>=2.29.0
  Using cached dvc_http-2.30.2-py3-none-any.whl (12 kB)
Collecting distro>=1.3
  Using cached distro-1.8.0-py3-none-any.whl (20 kB)
Collecting iterative-telemetry>=0.0.7
  Using cached iterative_telemetry-0.0.8-py3-none-any.whl (10 kB)
Collecting dvc-data<0.48,>=0.47.1
  Using cached dvc_data-0.47.2-py3-none-any.whl (59 kB)
Requirement already satisfied: ruamel.yaml>=0.17.11 in /opt/conda/lib/python3.9/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.17.21)
Requirement already satisfied: platformdirs<4,>=3.1.1 in /opt/conda/lib/python3.9/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.2.0)
Collecting funcy>=1.14
  Using cached funcy-2.0-py2.py3-none-any.whl (30 kB)
Requirement already satisfied: networkx>=2.5 in /opt/conda/lib/python3.9/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.6.3)
Collecting dvc-studio-client<1,>=0.6.1
  Using cached dvc_studio_client-0.8.0-py3-none-any.whl (10 kB)
Collecting grandalf<1,>=0.7
  Using cached grandalf-0.8-py3-none-any.whl (41 kB)
Collecting pygtrie>=2.3.2
  Using cached pygtrie-2.5.0-py3-none-any.whl (25 kB)
Requirement already satisfied: requests>=2.22 in /opt/conda/lib/python3.9/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.26.0)
Collecting dpath<3,>=2.1.0
  Using cached dpath-2.1.5-py3-none-any.whl (17 kB)
Collecting dvc-render<0.4.0,>=0.3.1
  Using cached dvc_render-0.3.1-py3-none-any.whl (18 kB)
Requirement already satisfied: iniconfig in /opt/conda/lib/python3.9/site-packages (from pytest>=7.1.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.0.0)
Requirement already satisfied: pluggy<2.0,>=0.12 in /opt/conda/lib/python3.9/site-packages (from pytest>=7.1.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.0.0)
Requirement already satisfied: attrs>=19.2.0 in /opt/conda/lib/python3.9/site-packages (from pytest>=7.1.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (19.3.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /opt/conda/lib/python3.9/site-packages (from pytest>=7.1.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.1.1)
Requirement already satisfied: tomli>=1.0.0 in /opt/conda/lib/python3.9/site-packages (from pytest>=7.1.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.0.1)
Requirement already satisfied: aiosignal in /opt/conda/lib/python3.9/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.3.1)
Requirement already satisfied: protobuf!=3.19.5,>=3.15.3 in /opt/conda/lib/python3.9/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.19.6)
Requirement already satisfied: pyyaml in /opt/conda/lib/python3.9/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (6.0)
Requirement already satisfied: grpcio>=1.32.0 in /opt/conda/lib/python3.9/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.43.0)
Requirement already satisfied: msgpack<2.0.0,>=1.0.0 in /opt/conda/lib/python3.9/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.0.5)
Requirement already satisfied: filelock in /opt/conda/lib/python3.9/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.10.7)
Requirement already satisfied: click>=7.0 in /opt/conda/lib/python3.9/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (8.0.4)
Requirement already satisfied: frozenlist in /opt/conda/lib/python3.9/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.3.3)
Requirement already satisfied: virtualenv>=20.0.24 in /opt/conda/lib/python3.9/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (20.21.0)
Requirement already satisfied: jsonschema in /opt/conda/lib/python3.9/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (4.17.3)
Requirement already satisfied: patsy>=0.5.2 in /opt/conda/lib/python3.9/site-packages (from statsmodels>=0.13.2->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.5.3)
Collecting dictdiffer>=0.8.1
  Using cached dictdiffer-0.9.0-py2.py3-none-any.whl (16 kB)
Collecting diskcache>=5.2.1
  Using cached diskcache-5.6.1-py3-none-any.whl (45 kB)
Collecting sqltrie<1,>=0.3.1
  Using cached sqltrie-0.3.1-py3-none-any.whl (16 kB)
Collecting nanotime>=0.5.2
  Using cached nanotime-0.5.2-py3-none-any.whl
Collecting dvc-objects<1,>=0.21.1
  Using cached dvc_objects-0.21.1-py3-none-any.whl (37 kB)
Collecting attrs>=19.2.0
  Using cached attrs-23.1.0-py3-none-any.whl (61 kB)
Collecting aiohttp-retry>=2.5.0
  Using cached aiohttp_retry-2.8.3-py3-none-any.whl (9.8 kB)
Requirement already satisfied: fsspec[http] in /opt/conda/lib/python3.9/site-packages (from dvc-http>=2.29.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2023.3.0)
Collecting dulwich
  Using cached dulwich-0.21.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (505 kB)
Collecting kombu<6,>=5.2.0
  Using cached kombu-5.2.4-py3-none-any.whl (189 kB)
Collecting celery<6,>=5.2.0
  Using cached celery-5.2.7-py3-none-any.whl (405 kB)
Collecting atpublic>=2.3
  Using cached atpublic-3.1.1-py3-none-any.whl (4.8 kB)
Collecting antlr4-python3-runtime==4.9.*
  Using cached antlr4_python3_runtime-4.9.3-py3-none-any.whl
Collecting omegaconf<2.4,>=2.2
  Using cached omegaconf-2.3.0-py3-none-any.whl (79 kB)
Requirement already satisfied: appdirs in /opt/conda/lib/python3.9/site-packages (from iterative-telemetry>=0.0.7->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.4.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests>=2.22->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.22->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests>=2.22->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.22->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.26.7)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in /opt/conda/lib/python3.9/site-packages (from rich>=12->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /opt/conda/lib/python3.9/site-packages (from rich>=12->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.14.0)
Requirement already satisfied: ruamel.yaml.clib>=0.2.6 in /opt/conda/lib/python3.9/site-packages (from ruamel.yaml>=0.17.11->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.2.7)
Collecting gitpython>3
  Using cached GitPython-3.1.31-py3-none-any.whl (184 kB)
Collecting pygit2>=1.10.0
  Using cached pygit2-1.12.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.9 MB)
Collecting asyncssh<3,>=2.13.1
  Using cached asyncssh-2.13.1-py3-none-any.whl (348 kB)
Requirement already satisfied: distlib<1,>=0.3.6 in /opt/conda/lib/python3.9/site-packages (from virtualenv>=20.0.24->ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.3.6)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.9/site-packages (from zc.lockfile>=1.2.1->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (67.6.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /opt/conda/lib/python3.9/site-packages (from jsonschema->ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.19.3)
Requirement already satisfied: aiohttp in /opt/conda/lib/python3.9/site-packages (from aiohttp-retry>=2.5.0->dvc-http>=2.29.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.8.4)
Requirement already satisfied: cryptography>=3.1 in /opt/conda/lib/python3.9/site-packages (from asyncssh<3,>=2.13.1->scmrepo<2,>=1.0.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.4.8)
Requirement already satisfied: typing-extensions>=3.6 in /opt/conda/lib/python3.9/site-packages (from asyncssh<3,>=2.13.1->scmrepo<2,>=1.0.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (4.5.0)
Collecting vine<6.0,>=5.0.0
  Using cached vine-5.0.0-py2.py3-none-any.whl (9.4 kB)
Collecting click-repl>=0.2.0
  Using cached click_repl-0.2.0-py3-none-any.whl (5.2 kB)
Requirement already satisfied: click-plugins>=1.1.1 in /opt/conda/lib/python3.9/site-packages (from celery<6,>=5.2.0->dvc-task<1,>=0.2.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.1.1)
Collecting billiard<4.0,>=3.6.4.0
  Using cached billiard-3.6.4.0-py3-none-any.whl (89 kB)
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Collecting click-didyoumean>=0.0.3
  Using cached click_didyoumean-0.3.0-py3-none-any.whl (2.7 kB)
Collecting gitdb<5,>=4.0.1
  Using cached gitdb-4.0.10-py3-none-any.whl (62 kB)
Collecting amqp<6.0.0,>=5.0.9
  Using cached amqp-5.1.1-py3-none-any.whl (50 kB)
Requirement already satisfied: mdurl~=0.1 in /opt/conda/lib/python3.9/site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich>=12->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.1.2)
Requirement already satisfied: cffi>=1.9.1 in /opt/conda/lib/python3.9/site-packages (from pygit2>=1.10.0->scmrepo<2,>=1.0.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.14.6)
Collecting orjson
  Using cached orjson-3.8.10-cp39-cp39-manylinux_2_28_x86_64.whl (140 kB)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /opt/conda/lib/python3.9/site-packages (from aiohttp->aiohttp-retry>=2.5.0->dvc-http>=2.29.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (4.0.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/conda/lib/python3.9/site-packages (from aiohttp->aiohttp-retry>=2.5.0->dvc-http>=2.29.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/conda/lib/python3.9/site-packages (from aiohttp->aiohttp-retry>=2.5.0->dvc-http>=2.29.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.8.2)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.9/site-packages (from cffi>=1.9.1->pygit2>=1.10.0->scmrepo<2,>=1.0.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.20)
Requirement already satisfied: prompt-toolkit in /opt/conda/lib/python3.9/site-packages (from click-repl>=0.2.0->celery<6,>=5.2.0->dvc-task<1,>=0.2.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.0.38)
Collecting smmap<6,>=3.0.1
  Using cached smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.9/site-packages (from prompt-toolkit->click-repl>=0.2.0->celery<6,>=5.2.0->dvc-task<1,>=0.2.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.2.6)
Installing collected packages: voluptuous, pytz, python-gnupg, pygtrie, nanotime, funcy, eep153_tools, dictdiffer, ConsumerDemands, billiard, antlr4-python3-runtime, zc.lockfile, vine, tzdata, tqdm, tomlkit, smmap, shtab, shortuuid, python-dateutil, pydot, pathspec, orjson, omegaconf, joblib, grandalf, flatten-dict, dvc-render, dulwich, dpath, distro, diskcache, configobj, click-didyoumean, attrs, atpublic, sqltrie, rich, pygit2, pandas, iterative-telemetry, hydra-core, gitdb, flufl.lock, dvc-studio-client, dvc-objects, click-repl, amqp, xarray, ray, kombu, gitpython, dvc-data, asyncssh, aiohttp-retry, scmrepo, dvc-http, celery, dvc-task, dvc, CFEDemands
  Attempting uninstall: pytz
    Found existing installation: pytz 2021.1
    Uninstalling pytz-2021.1:
      Successfully uninstalled pytz-2021.1
  Attempting uninstall: tqdm
    Found existing installation: tqdm 4.62.1
    Uninstalling tqdm-4.62.1:
      Successfully uninstalled tqdm-4.62.1
  Attempting uninstall: python-dateutil
    Found existing installation: python-dateutil 2.8.0
    Uninstalling python-dateutil-2.8.0:
      Successfully uninstalled python-dateutil-2.8.0
  Attempting uninstall: pathspec
    Found existing installation: pathspec 0.9.0
    Uninstalling pathspec-0.9.0:
      Successfully uninstalled pathspec-0.9.0
  Attempting uninstall: joblib
    Found existing installation: joblib 1.0.1
    Uninstalling joblib-1.0.1:
      Successfully uninstalled joblib-1.0.1
  Attempting uninstall: attrs
    Found existing installation: attrs 19.3.0
    Uninstalling attrs-19.3.0:
      Successfully uninstalled attrs-19.3.0
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.5
    Uninstalling pandas-1.3.5:
      Successfully uninstalled pandas-1.3.5
  Attempting uninstall: xarray
    Found existing installation: xarray 0.19.0
    Uninstalling xarray-0.19.0:
      Successfully uninstalled xarray-0.19.0
  Attempting uninstall: ray
    Found existing installation: ray 1.13.0
    Uninstalling ray-1.13.0:
      Successfully uninstalled ray-1.13.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pysal 2.5.0 requires python-dateutil<=2.8.0, but you have python-dateutil 2.8.2 which is incompatible.
dbt-core 1.3.0 requires pathspec~=0.9.0, but you have pathspec 0.11.1 which is incompatible.
datasets 2.2.1 requires pyarrow>=6.0.0, but you have pyarrow 5.0.0 which is incompatible.
ast-scope 0.3.1 requires attrs==19.3.0, but you have attrs 23.1.0 which is incompatible.

## Input Uganda data

In [2]:
# import whole google sheet
Uganda_Data = "1mo_bNlLJ-M6yQDDdUxvDnvBc-Hs2nZcEuxJ59CCYgWA"

#Btw I create another google sheet,because I want more detail lebal in my code, here is the link if you want to check.
# https://docs.google.com/spreadsheets/d/1mo_bNlLJ-M6yQDDdUxvDnvBc-Hs2nZcEuxJ59CCYgWA/edit#gid=1174957327

In [3]:
# divide expenditure in different years

# Missing expnditure data between 2012-2013  and 2014-2015
Expenditure_2011 = read_sheets(Uganda_Data,sheet = 'Expenditures (2011-2012)')
Expenditure_2013 = read_sheets(Uganda_Data,sheet = 'Expenditures (2013-2014)')
Expenditure_2015 = read_sheets(Uganda_Data,sheet = 'Expenditures (2015-2016)')

# input price table
Price =  read_sheets(Uganda_Data,sheet = 'Prices')

# replace the Na into 0
Expenditure_2011 = Expenditure_2011.replace(np.nan,0)
Expenditure_2013 = Expenditure_2013.replace(np.nan,0)
Expenditure_2015 = Expenditure_2015.replace(np.nan,0)
Price = Price.replace(np.nan,0)

Key available for students@eep153.iam.gserviceaccount.com.
Key available for students@eep153.iam.gserviceaccount.com.
Key available for students@eep153.iam.gserviceaccount.com.
Key available for students@eep153.iam.gserviceaccount.com.

In [4]:
# create food list 
food_list = ['Beans','Beef','Beer','Biscuits','Bongo','Bread',
             'Butter','Cabbages','Cake','Cassava','Cassava (flour)',
             'Chapati','Cheese','Chicken','Cigarettes','Coffee','Cooking Oil',
             'Cornflakes','Dodo','Donut','Eggs','Fish (dried)','Fish (fresh)',
             'Garlic','Ghee','Ginger','Goat','Ground Nuts','Honey','Ice Cream',
             'Infant Formula','Irish Potatoes','Jackfruit','Jam/Marmalade',
             'Kabalagala','Macaroni/Spaghetti','Maize','Mangos','Matoke','Milk (fresh)',
             'Milk (powdered)','Millet','Onions','Oranges','Other Alcohol','Other Drinks',
             'Other Fruits','Other Juice','Other Meat','Other Spices','Other Tobacco','Other Veg.',
             'Passion Fruits','Peas','Plantains','Pork','Rice','Salt','Samosa','Sim Sim','Soda',
             'Sorghum','Soybean','Sugar','Sugarcane','Sweet Bananas','Sweet Potatoes','Tea','Tomatoes',
             'Waragi','Water','Wheat (flour)','Yam','Yogurt']

## Uganda 2011

In [5]:
# Filter price data for 2011-12
Price_data_2011 = Price[Price['t'] == '2011-12']
Price_data_2011

,t,Market,Beans,Beef,Beer,Biscuits,Bongo,Bread,Butter,Cabbages,...,Sugarcane,Sweet Bananas,Sweet Potatoes,Tea,Tomatoes,Waragi,Water,Wheat (flour),Yam,Yogurt
12,2011-12,Central,1750.0,7500,5000.000000,0.0,0.0,4000.0,8000.0,1679.389313,...,0.0,700.000000,840.196078,1200.0,490.196078,0.0,0.0,0.0,0.0,0.0
13,2011-12,Eastern,1400.0,6800,4228.571429,0.0,0.0,4000.0,1000.0,1679.389313,...,0.0,833.333333,690.196078,1000.0,375.000000,0.0,0.0,0.0,0.0,0.0
14,2011-12,Northern,2000.0,7000,3800.000000,0.0,0.0,2000.0,3500.0,2142.857143,...,0.0,1000.000000,875.000000,1000.0,375.000000,0.0,0.0,0.0,0.0,0.0
15,2011-12,Western,1250.0,7000,4000.000000,0.0,0.0,3500.0,3100.0,1428.571429,...,0.0,833.333333,395.833333,2000.0,500.000000,0.0,0.0,0.0,0.0,0.0

In [6]:
#Price_data_2011 Expenditure_2011
merged_data_2011 = pd.merge(Expenditure_2011,Price_data_2011, on=['t', 'Market'], suffixes=('_expenditure', '_price'))
merged_data_2011

,ID,t,Market,Beans_expenditure,Beef_expenditure,Beer_expenditure,Biscuits_expenditure,Bongo_expenditure,Bread_expenditure,Butter_expenditure,...,Sugarcane_price,Sweet Bananas_price,Sweet Potatoes_price,Tea_price,Tomatoes_price,Waragi_price,Water_price,Wheat (flour)_price,Yam_price,Yogurt_price
0,1013000201,2011-12,Central,0.0,0.0,15000.0,0.0,0.0,0.0,0.0,...,0.0,700.0,840.196078,1200.0,490.196078,0.0,0.0,0.0,0.0,0.0
1,1013000202,2011-12,Central,6500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,700.0,840.196078,1200.0,490.196078,0.0,0.0,0.0,0.0,0.0
2,1013000204,2011-12,Central,600.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,700.0,840.196078,1200.0,490.196078,0.0,0.0,0.0,0.0,0.0
3,1013000206,2011-12,Central,11000.0,7000.0,0.0,0.0,0.0,1200.0,0.0,...,0.0,700.0,840.196078,1200.0,490.196078,0.0,0.0,0.0,0.0,0.0
4,1013000210,2011-12,Central,1000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,700.0,840.196078,1200.0,490.196078,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2781,3213003007,2011-12,Northern,8400.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1000.0,875.000000,1000.0,375.000000,0.0,0.0,0.0,0.0,0.0
2782,3213003008,2011-12,Northern,7200.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1000.0,875.000000,1000.0,375.000000,0.0,0.0,0.0,0.0,0.0
2783,321300300802,2011-12,Northern,1600.0,4000.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1000.0,875.000000,1000.0,375.000000,0.0,0.0,0.0,0.0,0.0
2784,3213003009,2011-12,Northern,7200.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1000.0,875.000000,1000.0,375.000000,0.0,0.0,0.0,0.0,0.0
2785,3213003010,2011-12,Northern,4200.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1000.0,875.000000,1000.0,375.000000,0.0,0.0,0.0,0.0,0.0

In [7]:
food_columns = food_list
for food in food_columns:
    merged_data_2011[food + '_consumption'] = merged_data_2011[food + '_expenditure'] / merged_data_2011[food + '_price']

# replace na to 0
merged_data_2011 = merged_data_2011.replace(np.nan,0)

# keep ID, t, Market
columns_to_keep = ['ID', 't', 'Market']

# add consumption columns to the list
for food in food_columns:
    columns_to_keep.append(food + '_consumption')

# create a new dataframe with only the selected columns
consumption_data_2011 = merged_data_2011[columns_to_keep]
consumption_data_2011

,ID,t,Market,Beans_consumption,Beef_consumption,Beer_consumption,Biscuits_consumption,Bongo_consumption,Bread_consumption,Butter_consumption,...,Sugarcane_consumption,Sweet Bananas_consumption,Sweet Potatoes_consumption,Tea_consumption,Tomatoes_consumption,Waragi_consumption,Water_consumption,Wheat (flour)_consumption,Yam_consumption,Yogurt_consumption
0,1013000201,2011-12,Central,0.000000,0.000000,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.190198,0.083333,2.040000,0.0,0.0,0.0,0.0,0.0
1,1013000202,2011-12,Central,3.714286,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.904317,0.416667,1.224000,0.0,0.0,0.0,0.0,0.0
2,1013000204,2011-12,Central,0.342857,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.570595,0.250000,1.020000,0.0,0.0,0.0,0.0,0.0
3,1013000206,2011-12,Central,6.285714,0.933333,0.0,0.0,0.0,0.3,0.0,...,0.0,0.0,3.570595,0.333333,1.224000,0.0,0.0,0.0,0.0,0.0
4,1013000210,2011-12,Central,0.571429,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.408000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2781,3213003007,2011-12,Northern,4.200000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
2782,3213003008,2011-12,Northern,3.600000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.571429,0.100000,0.000000,0.0,0.0,0.0,0.0,0.0
2783,321300300802,2011-12,Northern,0.800000,0.571429,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.142857,0.200000,2.666667,0.0,0.0,0.0,0.0,0.0
2784,3213003009,2011-12,Northern,3.600000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.714286,0.100000,2.666667,0.0,0.0,0.0,0.0,0.0
2785,3213003010,2011-12,Northern,2.100000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,17.142857,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0

## -------------------------------------DIVIDE-----------------------------------------

## Uganda 2013

In [8]:
# Filter price data for 2013-14
Price_data_2013 = Price[Price['t'] == '2013-14']
Price_data_2013

,t,Market,Beans,Beef,Beer,Biscuits,Bongo,Bread,Butter,Cabbages,...,Sugarcane,Sweet Bananas,Sweet Potatoes,Tea,Tomatoes,Waragi,Water,Wheat (flour),Yam,Yogurt
16,2013-14,Central,2000.0,8000,5857.142857,0.0,0.0,3500.0,6538.461538,1796.202757,...,0.0,833.333333,1237.745098,6666.666667,625.0,0.0,1000.000000,2500.0,0.0,0.0
17,2013-14,Eastern,1750.0,7000,4750.000000,0.0,0.0,3500.0,7000.000000,1428.571429,...,0.0,671.755725,679.166667,6666.666667,600.0,0.0,1000.000000,2225.0,0.0,0.0
18,2013-14,Northern,2000.0,7000,4000.000000,0.0,0.0,2000.0,5230.769231,2142.857143,...,0.0,833.333333,642.647059,6666.666667,375.0,0.0,1333.333333,2250.0,0.0,0.0
19,2013-14,Western,1700.0,7000,5000.000000,0.0,0.0,3500.0,6000.000000,1878.119800,...,0.0,700.000000,1000.000000,6666.666667,750.0,0.0,1000.000000,2000.0,0.0,0.0

In [9]:
#Price_data_2013 Expenditure_2013
merged_data_2013 = pd.merge(Expenditure_2013,Price_data_2013, on=['t', 'Market'], suffixes=('_expenditure', '_price'))
merged_data_2013

,ID,t,Market,Beans_expenditure,Beef_expenditure,Beer_expenditure,Biscuits_expenditure,Bongo_expenditure,Bread_expenditure,Butter_expenditure,...,Sugarcane_price,Sweet Bananas_price,Sweet Potatoes_price,Tea_price,Tomatoes_price,Waragi_price,Water_price,Wheat (flour)_price,Yam_price,Yogurt_price
0,1013000201,2013-14,Central,1500.0,0.0,0.0,0.0,0.0,1600.0,0.0,...,0.0,833.333333,1237.745098,6666.666667,625.0,0.0,1000.000000,2500.0,0.0,0.0
1,1013000202,2013-14,Central,5000.0,0.0,0.0,0.0,0.0,250.0,0.0,...,0.0,833.333333,1237.745098,6666.666667,625.0,0.0,1000.000000,2500.0,0.0,0.0
2,1013000204,2013-14,Central,2400.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,833.333333,1237.745098,6666.666667,625.0,0.0,1000.000000,2500.0,0.0,0.0
3,1021000108,2013-14,Central,6400.0,7000.0,0.0,0.0,0.0,3600.0,0.0,...,0.0,833.333333,1237.745098,6666.666667,625.0,0.0,1000.000000,2500.0,0.0,0.0
4,1021000109,2013-14,Central,3000.0,9000.0,0.0,0.0,0.0,1800.0,0.0,...,0.0,833.333333,1237.745098,6666.666667,625.0,0.0,1000.000000,2500.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3077,H40605-04-01,2013-14,Northern,500.0,2000.0,0.0,0.0,0.0,0.0,0.0,...,0.0,833.333333,642.647059,6666.666667,375.0,0.0,1333.333333,2250.0,0.0,0.0
3078,H40607-04-01,2013-14,Northern,1000.0,4000.0,0.0,0.0,0.0,0.0,0.0,...,0.0,833.333333,642.647059,6666.666667,375.0,0.0,1333.333333,2250.0,0.0,0.0
3079,H40608-04-01,2013-14,Northern,2600.0,0.0,0.0,0.0,0.0,3500.0,0.0,...,0.0,833.333333,642.647059,6666.666667,375.0,0.0,1333.333333,2250.0,0.0,0.0
3080,H40609-04-01,2013-14,Northern,1000.0,4000.0,0.0,0.0,0.0,0.0,0.0,...,0.0,833.333333,642.647059,6666.666667,375.0,0.0,1333.333333,2250.0,0.0,0.0
3081,H40610-04-01,2013-14,Northern,3000.0,0.0,0.0,0.0,0.0,1000.0,0.0,...,0.0,833.333333,642.647059,6666.666667,375.0,0.0,1333.333333,2250.0,0.0,0.0

In [10]:
food_columns = food_list
for food in food_columns:
    merged_data_2013[food + '_consumption'] = merged_data_2013[food + '_expenditure'] / merged_data_2013[food + '_price']

# replace na to 0
merged_data_2013 = merged_data_2013.replace(np.nan,0)

# keep ID, t, Market
columns_to_keep = ['ID', 't', 'Market']

# add consumption columns to the list
for food in food_columns:
    columns_to_keep.append(food + '_consumption')

# create a new dataframe with only the selected columns
consumption_data_2013 = merged_data_2013[columns_to_keep]
consumption_data_2013

,ID,t,Market,Beans_consumption,Beef_consumption,Beer_consumption,Biscuits_consumption,Bongo_consumption,Bread_consumption,Butter_consumption,...,Sugarcane_consumption,Sweet Bananas_consumption,Sweet Potatoes_consumption,Tea_consumption,Tomatoes_consumption,Waragi_consumption,Water_consumption,Wheat (flour)_consumption,Yam_consumption,Yogurt_consumption
0,1013000201,2013-14,Central,0.75,0.000000,0.0,0.0,0.0,0.457143,0.0,...,0.0,0.00,8.079208,0.0000,2.240000,0.0,0.0,0.0,0.0,0.0
1,1013000202,2013-14,Central,2.50,0.000000,0.0,0.0,0.0,0.071429,0.0,...,0.0,0.00,4.847525,0.0225,1.440000,0.0,0.0,0.0,0.0,0.0
2,1013000204,2013-14,Central,1.20,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.00,4.039604,0.0300,2.240000,0.0,0.0,0.0,0.0,0.0
3,1021000108,2013-14,Central,3.20,0.875000,0.0,0.0,0.0,1.028571,0.0,...,0.0,0.00,1.615842,0.0750,3.200000,0.0,0.0,0.0,0.0,0.0
4,1021000109,2013-14,Central,1.50,1.125000,0.0,0.0,0.0,0.514286,0.0,...,0.0,0.00,1.615842,0.0300,3.200000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3077,H40605-04-01,2013-14,Northern,0.25,0.285714,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.00,0.778032,0.0150,2.133333,0.0,0.0,0.0,0.0,0.0
3078,H40607-04-01,2013-14,Northern,0.50,0.571429,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.00,0.000000,0.0000,1.866667,0.0,0.0,0.0,0.0,0.0
3079,H40608-04-01,2013-14,Northern,1.30,0.000000,0.0,0.0,0.0,1.750000,0.0,...,0.0,0.60,0.778032,0.0300,4.000000,0.0,0.0,0.0,0.0,0.0
3080,H40609-04-01,2013-14,Northern,0.50,0.571429,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.24,0.000000,0.0000,2.666667,0.0,0.0,0.0,0.0,0.0
3081,H40610-04-01,2013-14,Northern,1.50,0.000000,0.0,0.0,0.0,0.500000,0.0,...,0.0,0.00,3.112128,0.0150,3.733333,0.0,0.0,0.0,0.0,0.0

## -------------------------------------DIVIDE-----------------------------------------

## Uganda 2015

In [11]:
# Filter price data for 2015-16
Price_data_2015 = Price[Price['t'] == '2015-16']
Price_data_2015

,t,Market,Beans,Beef,Beer,Biscuits,Bongo,Bread,Butter,Cabbages,...,Sugarcane,Sweet Bananas,Sweet Potatoes,Tea,Tomatoes,Waragi,Water,Wheat (flour),Yam,Yogurt
20,2015-16,Central,2200.0,9000,5833.333333,0.0,0.0,3500.0,6538.461538,1878.119800,...,0.0,833.333333,979.166667,10000.000000,625.000000,0.0,1333.333333,2800.0,0.0,0.0
21,2015-16,Eastern,2200.0,8000,4200.000000,0.0,0.0,4000.0,6900.000000,1428.571429,...,0.0,972.972973,755.555556,6666.666667,536.605657,0.0,1500.000000,3000.0,0.0,0.0
22,2015-16,Northern,2000.0,8000,4000.000000,0.0,0.0,2500.0,8647.435828,2683.028286,...,0.0,875.000000,833.333333,10000.000000,375.000000,0.0,1100.000000,3000.0,0.0,0.0
23,2015-16,Western,1800.0,8000,6000.000000,0.0,0.0,4000.0,4999.999963,2146.422629,...,0.0,725.221239,875.000000,13333.333330,750.000000,0.0,1000.000000,2000.0,0.0,0.0

In [12]:
#Price_data_2015 Expenditure_2015
merged_data_2015 = pd.merge(Expenditure_2015,Price_data_2015, on=['t', 'Market'], suffixes=('_expenditure', '_price'))
merged_data_2015

,ID,t,Market,Beans_expenditure,Beef_expenditure,Beer_expenditure,Biscuits_expenditure,Bongo_expenditure,Bread_expenditure,Butter_expenditure,...,Sugarcane_price,Sweet Bananas_price,Sweet Potatoes_price,Tea_price,Tomatoes_price,Waragi_price,Water_price,Wheat (flour)_price,Yam_price,Yogurt_price
0,1013000201,2015-16,Central,3000.0,9000.0,0.0,0.0,0.0,2000.0,0.0,...,0.0,833.333333,979.166667,10000.000000,625.000000,0.0,1333.333333,2800.0,0.0,0.0
1,1013000202,2015-16,Central,2000.0,0.0,0.0,0.0,0.0,800.0,0.0,...,0.0,833.333333,979.166667,10000.000000,625.000000,0.0,1333.333333,2800.0,0.0,0.0
2,1013000204,2015-16,Central,1800.0,0.0,4000.0,0.0,0.0,0.0,0.0,...,0.0,833.333333,979.166667,10000.000000,625.000000,0.0,1333.333333,2800.0,0.0,0.0
3,1013000210,2015-16,Central,0.0,0.0,8800.0,0.0,0.0,0.0,0.0,...,0.0,833.333333,979.166667,10000.000000,625.000000,0.0,1333.333333,2800.0,0.0,0.0
4,1021000108,2015-16,Central,4000.0,10000.0,0.0,0.0,0.0,0.0,0.0,...,0.0,833.333333,979.166667,10000.000000,625.000000,0.0,1333.333333,2800.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3211,H38205-04-01,2015-16,Eastern,1200.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,972.972973,755.555556,6666.666667,536.605657,0.0,1500.000000,3000.0,0.0,0.0
3212,H38206-04-01,2015-16,Eastern,1750.0,7000.0,0.0,0.0,0.0,2000.0,1000.0,...,0.0,972.972973,755.555556,6666.666667,536.605657,0.0,1500.000000,3000.0,0.0,0.0
3213,H38208-04-01,2015-16,Eastern,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,972.972973,755.555556,6666.666667,536.605657,0.0,1500.000000,3000.0,0.0,0.0
3214,H38209-04-01,2015-16,Eastern,0.0,8000.0,0.0,0.0,0.0,3500.0,0.0,...,0.0,972.972973,755.555556,6666.666667,536.605657,0.0,1500.000000,3000.0,0.0,0.0
3215,H38210-04-01,2015-16,Eastern,9000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,972.972973,755.555556,6666.666667,536.605657,0.0,1500.000000,3000.0,0.0,0.0

In [13]:
food_columns = food_list
for food in food_columns:
    merged_data_2015[food + '_consumption'] = merged_data_2015[food + '_expenditure'] / merged_data_2015[food + '_price']

# replace na to 0
merged_data_2015 = merged_data_2015.replace(np.nan,0)

# keep ID, t, Market
columns_to_keep = ['ID', 't', 'Market']

# add consumption columns to the list
for food in food_columns:
    columns_to_keep.append(food + '_consumption')

# create a new dataframe with only the selected columns
consumption_data_2015 = merged_data_2015[columns_to_keep]
consumption_data_2015

,ID,t,Market,Beans_consumption,Beef_consumption,Beer_consumption,Biscuits_consumption,Bongo_consumption,Bread_consumption,Butter_consumption,...,Sugarcane_consumption,Sweet Bananas_consumption,Sweet Potatoes_consumption,Tea_consumption,Tomatoes_consumption,Waragi_consumption,Water_consumption,Wheat (flour)_consumption,Yam_consumption,Yogurt_consumption
0,1013000201,2015-16,Central,1.363636,1.000000,0.000000,0.0,0.0,0.571429,0.000000,...,0.0,0.000000,2.042553,0.0200,4.480000,0.0,0.0,0.0,0.0,0.0
1,1013000202,2015-16,Central,0.909091,0.000000,0.000000,0.0,0.0,0.228571,0.000000,...,0.0,0.000000,3.063830,0.0150,0.960000,0.0,0.0,0.0,0.0,0.0
2,1013000204,2015-16,Central,0.818182,0.000000,0.685714,0.0,0.0,0.000000,0.000000,...,0.0,0.000000,2.042553,0.0100,1.280000,0.0,0.0,0.0,0.0,0.0
3,1013000210,2015-16,Central,0.000000,0.000000,1.508571,0.0,0.0,0.000000,0.000000,...,0.0,1.800000,0.000000,0.0000,0.000000,0.0,0.0,0.0,0.0,0.0
4,1021000108,2015-16,Central,1.818182,1.111111,0.000000,0.0,0.0,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0100,1.600000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3211,H38205-04-01,2015-16,Eastern,0.545455,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.0,0.000000,5.294118,0.0150,1.863566,0.0,0.0,0.0,0.0,0.0
3212,H38206-04-01,2015-16,Eastern,0.795455,0.875000,0.000000,0.0,0.0,0.500000,0.144928,...,0.0,0.000000,0.000000,0.0225,2.608992,0.0,0.0,0.0,0.0,0.0
3213,H38208-04-01,2015-16,Eastern,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0300,2.608992,0.0,0.0,0.0,0.0,0.0
3214,H38209-04-01,2015-16,Eastern,0.000000,1.000000,0.000000,0.0,0.0,0.875000,0.000000,...,0.0,0.000000,0.000000,0.0150,2.236279,0.0,0.0,0.0,0.0,0.0
3215,H38210-04-01,2015-16,Eastern,4.090909,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.0,7.194444,13.235294,0.0600,0.745426,0.0,0.0,0.0,0.0,0.0